<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NSE Options Data</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        #sidebar {
            width: 50px;
            background: linear-gradient(to right, #4CAF50, #2E7D32); /* Updated background */
            color: #fff;
            position: fixed;
            top: 0;
            left: 0;
            padding-top: 20px;
            transition: width 0.3s;
            overflow-x: hidden;
        }

        #sidebar a {
            text-decoration: none;
            font-size: 18px;
            color: #fff;
            display: block;
            padding: 15px 20px;
            transition: padding 0.3s;
        }

        #sidebar a:hover {
            padding-left: 25px; /* Highlight on hover */
        }

        #topbar {
            background-color: #4CAF50;
            padding: 15px;
            color: #fff;
            text-align: center;
        }

        #content {
            margin-left: 50px;
            padding: 20px;
            overflow-x: auto;
        }

        h1 {
            color: #333;
            margin-bottom: 10px;
        }

        p {
            color: #555;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            background-color: #fff;
        }

        th, td {
            padding: 6px; /* Adjusted padding */
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

        tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        /* Adjustments for Responsive Design */
        @media only screen and (max-width: 768px) {
            #sidebar {
                width: 100%;
                text-align: center;
            }

            #content {
                margin-left: 0;
            }

            #sidebar a {
                padding: 15px;
            }

            table {
                margin-top: 10px;
            }

            th, td {
                padding: 3px; /* Further reduced padding */
            }
        }

    </style>
</head>
<body>

<div id="sidebar">
    <a href="javascript:void(0);" onclick="toggleSidebar()">☰</a>
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
</div>

<div id="content">
    <div id="topbar">
        <h1>NSE Options Data</h1>
        <p>Explore the latest options data from NSE</p>
    </div>

    <table border="1">
        <thead>
            <tr>
                <th>OI Calls</th>
                <th>Change in OI Calls</th>
                <th>Volume Calls</th>
                <th>IV Calls</th>
                <th>LTP Calls</th>
                <th>Change Calls</th>
                <th>Bid Qty Calls</th>
                <th>Bid Calls</th>
                <th>Ask Calls</th>
                <th>Ask Qty Calls</th>
                <th>Strike</th>
                <th>Bid Qty Puts</th>
                <th>Bid Puts</th>
                <th>Ask Puts</th>
                <th>Ask Qty Puts</th>
                <th>Change Puts</th>
                <th>LTP Puts</th>
                <th>IV Puts</th>
                <th>Volume Puts</th>
                <th>Change in OI Puts</th>
                <th>OI Puts</th>
            </tr>
        </thead>
        <tbody>
            {% for option_data in option_data_list %}
                <tr>
                    <td>{{ option_data.oi_calls }}</td>
                    <td>{{ option_data.chng_in_oi_calls }}</td>
                    <td>{{ option_data.volume_calls }}</td>
                    <td>{{ option_data.iv_calls }}</td>
                    <td>{{ option_data.ltp_calls }}</td>
                    <td>{{ option_data.chng_calls }}</td>
                    <td>{{ option_data.bif_qty_calls }}</td>
                    <td>{{ option_data.bid_calls }}</td>
                    <td>{{ option_data.ask_calls }}</td>
                    <td>{{ option_data.ask_qty_calls }}</td>
                    <td>{{ option_data.strike }}</td>
                    <td>{{ option_data.bid_qty_puts }}</td>
                    <td>{{ option_data.bid_puts }}</td>
                    <td>{{ option_data.ask_puts }}</td>
                    <td>{{ option_data.ask_qty_puts }}</td>
                    <td>{{ option_data.chng_puts }}</td>
                    <td>{{ option_data.ltp_puts }}</td>
                    <td>{{ option_data.iv_puts }}</td>
                    <td>{{ option_data.volume_puts }}</td>
                    <td>{{ option_data.chng_in_oi_puts }}</td>
                    <td>{{ option_data.oi_puts }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<script>
    function toggleSidebar() {
        var sidebar = document.getElementById('sidebar');
        if (sidebar.style.width === '50px') {
            sidebar.style.width = '250px';
        } else {
            sidebar.style.width = '50px';
        }
    }
</script>

</body>
</html>
